
.home-container h2{
    text-align: center;
    font-size: 50px;
}
.event-container h2{
    text-align: center;
    font-size: 50px;
}
.services-container h2{
    text-align: center;
    font-size: 50px;
}
.contact-container h2{
    text-align: center;
    font-size: 50px;
}
.about-container h2{
    text-align: center;
    font-size: 50px;
}